services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=foodsavvy
      - POSTGRES_PASSWORD=Pineapple1
      - POSTGRES_DB=foodsavvy_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
